* {
    box-sizing: border-box;
    font-family: Helvetica, SansSerif;
}

/* unvisited link */
a:link {
    color: #00b1ae;
}

/* visited link */
a:visited {
    color: #00b1ae;
}

/* mouse over link */
a:hover {
    color: #00b1ae;
}

/* selected link */
a:active {
    color: #00b1ae;
}

body{
    display: inline;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: inline-block;
}

.navbar-default {
    text-align: center;
}

