/* General Styles */

body {
    font-family: 'Helvetica Neue', sans-serif;
}


/* About Section Styles */

#about {
    height: 100vh;
    background-image: url("../../static/images/SNES.gif");
    /*background-image: url('@{/images/img126.jpg}');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

#about h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#about h2 {
    font-size: 2.5rem;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#about p {
    font-size: 1.2rem;
    line-height: 1.6rem;
}


/* Services Section Styles */

#services {
    padding: 4rem 0;
    background-image: url('https://live.staticflickr.com/65535/49422639598_ba7548d0dc_h.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#services .card {
    border: none;
    margin-bottom: 2rem;
}

#services .card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#services .card-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

/* Footer Section Styles */

#footer {
    background-color: #000;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

#footer p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    text-decoration: underline;
}
