* {
    box-sizing: border-box;
    font-family: D-DIN-Bold, Arial,Verdana, 'Helvetica Neue';
}

/* unvisited link */
a:link {
    color: #00b1ae;
}

/* visited link */
a:visited {
    color: #00b1ae;
}

/* mouse over link */
a:hover {
    color: #00b1ae;
}

/* selected link */
a:active {
    color: #00b1ae;
}

body{
    display: inline;
    justify-content: center;
    align-items: center;
}

/*.navbar {*/
/*    display: inline-block;*/
/*}*/

/*.navbar-default {*/
/*    text-align: center;*/
/*}*/
.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar-frame{border: 3x solid #c7b89e;}
.avatar-frame,.avatar-frame img{
    width: 125px;
    height: 125px;
    -webkit-border-radius: 30px; /* Saf3+, Chrome */
    border-radius: 30px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}



